<div class="table-container">
    <!-- {{ tableData | json }} -->
    <div *ngIf="tableData.length > 0;">
        <div *ngFor="let data of tableData; let indexOfElement=index;">
            {{ data.jur }}
        </div>

    </div>
    <table class="table">
        <thead class="" style="background-color: #F4F4F4;">
            <tr>
                <th *ngFor="let title of tableHead " scope="col">{{ title }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
        </tbody>
    </table>
</div>