<div class="table-container">    
    <table class="table table-bordered">
        <thead class="" style="background-color: #F4F4F4;">
            <tr>
                <th *ngFor="let title of tableHead" scope="col">{{ title }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of tableData;">
                
                    <td *ngFor="let title of tableHead">
                        <!-- Normal data -->
                        <span *ngIf="title !== 'normalization'; else elseBlock;">
                            {{ data[title]}}
                        </span>
                        <!-- Normalization data -->
                        <ng-template #elseBlock>
                            {{ data[title] }}
                           <span>{{ data[title]["Noramlize_courtname"][0] }}</span>
                        </ng-template>
                    </td>
            </tr>
        </tbody>
    </table>
</div>